{% extends "main.html" %}

{% block main %}
<!-- <div class="container d-flex justify-content-center">
  <form class="row g-2  needs-validation"  method="post"  action="{{ url_for('auth.register') }}"  novalidate>
    <div class="col-md-3 form-group">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="text" class="form-control" id="email"  name="email" required>
      
    </div>
    <div class="col-md-3 form-group">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
     
    </div>
     
    <div class="col-md-3 form-group">
      <label for="confirm-password" class="form-label">Confirm password</label>
      <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
     
    </div>
    <div class="col-md-3 form-group">
      <input type="hidden" class="form-control" id="crsf-token" name="csrf_token" value="{{ csrf_token() }}" required>
    </div>
    <div class="col-md-3 form-group">
      <button class="btn btn-primary" type="submit">Register</button>
     
    </div>
      
   
  </form>
</div> -->


<div class="container mt-3 align-items-center">

  <form clas="needs-validation"  method="post"   action="{{ url_for('auth.register') }}" novalidate>
   
      <div class="row g-3">
        <div class="col-sm-3">
          <input type="text" class="form-control" id="email"  name="email" placeholder="Email" required>
        </div>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm password">
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-primary mb-2">Register</button>
        </div>
        <div class="col-sm-12">
          <input type="hidden" class="form-control"  id="crsf-token" name="csrf_token" value="{{ csrf_token() }}" required>
        </div>
       
      </div>
    </div>
   
  </form>
{% endblock %}